.page-error
  &__content
    text-align center

    .breadcrumbs
      text-align left

    h3
      font-weight bold
      margin-bottom 74px
      font-size 16px

    .error-number
      display block
      text-align center
      color #cc0000
      font-size 160px
      line-height 100px
      margin-bottom 4px

    img
      display block
      width 394px
      height 203px
      margin 0 auto 29px

    p
      display block
      font-family $fGothamPro_l
      line-height 24px

      a
        display inline-block
        vertical-align top
        padding 0 5px
        text-decoration underline