.popup
    img(src="s/img/header--logo.png" alt /)

    span Я хочу выбрать вино

    label
        input(type="checkbox" name="")
        .psevdchecbox
        .content
            span
                i Мне 18 лет или больше

            span.town Я живу в
                a Москве

    a(href="").btn.disabled Войти в сервис

    span.trouble Если вы не можете войти на сайт,
        a напишите нам
