block vars
    - var title='DEV'
extends partials/layout_bootstrap
block content
    .container
        .page-header
            h1 Верстка по макетам

        .list-group
            .list-group-item.active Pages

            a.list-group-item(href="pageMain.html")
                h4 page Index

            a.list-group-item(href="page404.html")
                h4 page 404

            a.list-group-item(href="pageRecipeList.html")
                h4 page Recipe list

            a.list-group-item(href="pageRecipe.html")
                h4 page Recipe

            a.list-group-item(href="pageAbout.html")
                h4 page About

            a.list-group-item(href="pageHowwework.html")
                h4 page Howwework

            a.list-group-item(href="pageItem.html")
                h4 page Item

            a.list-group-item(href="pageCatalog.html")
                h4 page Catalog

            a.list-group-item(href="pageSearchresult.html")
                h4 page Searchresult

            a.list-group-item(href="pageRecipeItem.html")
                h4 page Dish

            a.list-group-item(href="pageLk.html")
                h4 page Lk

            a.list-group-item(href="pageLkexpert.html")
                h4 page Lk expert

            a.list-group-item(href="pageRegistration.html")
                h4 page Registration

            a.list-group-item(href="pageBasket-reg.html")
                h4 page Basket registration

            a.list-group-item(href="pageBasket.html")
                h4 page Basket

            a.list-group-item(href="pageBasket-filledout.html")
                h4 page Basket filledout

            a.list-group-item(href="pageBasket-confirm.html")
                h4 page Basket confirm

            a.list-group-item(href="pageSet-confirm.html")
                h4 page Set confirm

            a.list-group-item(href="pageSet-reg.html")
                h4 page Set registration

            a.list-group-item(href="pageSet-myself.html")
                h4 page Set myself

            a.list-group-item(href="pageStock.html")
                h4 page Week stock