block vars
    - var title='Title'

extends partials/layout-lk

block content

    .page.recipe-item
        section.page-title
            .width-wrap
                div
                    h1 Николайский стейк

                    p Первый интернет-портал, который подберёт вино под ваш вкус. Просто выбери свой вкус из&nbsp;трёх вариантов представленных ниже.

        section.page-content
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="").fwa-icon.icon-home

                    li
                        a(href="") catalogue

                    li
                        span foodpage

                h4 Название Самого Лучшего Ролика о Еде

                p Мясо используют разное, готовят мясо по-французски из&nbsp;говядины, мясо по-французски из&nbsp;свинины, мясо по-французски из&nbsp;курицы. Хотя мясо, как правило, режут на&nbsp;кусочки, делают и&nbsp;мясо по-французски с&nbsp;фаршем.

                time 9 декабря 2015

                iframe(src="https://player.vimeo.com/video/156015647" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

                .recipe-item--share.social-likes
                    .recipe-item--share-icon.fwa-icon.icon-share
                    .fwa-icon.icon-facebook.facebook
                    .fwa-icon.icon-instagram
                    .fwa-icon.icon-vk.vkontakte


                ul.recipe-item-list
                    li
                        .content
                            h4 Соус:

                            p Melt butter in heavy large saucepan over medium-high heat. Add shallots and sauté until tender, about 3 minutes. Stir in wine and Port. Boil 5 minutes. Add broth and rosemary sprig and boil until liquid is reduced to 1/3 cup, about 12 minutes. Strain sauce and set aside. (Can be prepared 1 day ahead. Cover and refrigerate.)

                            h4 Мясо:

                            p Heat oil in heavy large skillet over medium-high heat. Season steaks with salt and pepper. Add steaks to skillet and cook to desired doneness, about 4 minutes per side for medium-rare. Transfer steaks to platter. Tent with foil to keep warm.

                            p Add sauce to skillet and bring to boil, scraping up any browned bits. Remove from heat. Gradually add butter, whisking just until melted. Stir

                        img(src="s/img/img--recipe-4.png" alt /)

                    li
                        img(src="s/img/img--recipe-5.png" alt /)

                        .content
                            h4 Для соуса:

                            ul
                                li 1 tablespoon butter
                                li 1/2 cup minced shallots (about 4 ounces)
                                li 1 cup dry Churchills Dry white
                                li 3/4 cup Churchills LBV
                                li 1 cup canned beef broth
                                li 1 sprig fresh rosemary or 1/2 teaspoon dried

                            h4 Для мяса:

                            ul
                                li 1 tablespoon olive oil
                                li 4 1-inch-thick beef tenderloin steaks (about 6 to 8 ounces                 	                    each)
                                li 3 tablespoons chilled and unsalted butter
                                li 1 teaspoon chopped fresh rosemary or 1/4 teaspoon dried

                .recipe-slider-wrap
                    h4 К этому блюду подходят следующие наборы

                    .recipe-item-slider
                        .recipe-item-slider__el
                            a(href="").recipe-item-slider__el-img
                                img(src="s/img/img--catalog-1.jpg" alt /)

                            a(href="").recipe-item-slider__el-name Ангельские крылья и лук

                            p                               Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье.

                            span.recipe-item-slider__el-price.roubl 4500

                        .recipe-item-slider__el
                            a(href="").recipe-item-slider__el-img
                                img(src="s/img/img--catalog-2.jpg" alt /)

                            a(href="").recipe-item-slider__el-name Отличный набор для любителей выпить

                            p Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье.

                            span.recipe-item-slider__el-price.roubl 4500

                        .recipe-item-slider__el
                            a(href="").recipe-item-slider__el-img
                                img(src="s/img/img--catalog-3.jpg" alt /)

                            a(href="").recipe-item-slider__el-name Лучшие вина для олигархов и их друзей

                            p Отличный набор для тех, кто любит танцевать,

                            span.recipe-item-slider__el-price.roubl 4500

                        .recipe-item-slider__el
                            a(href="").recipe-item-slider__el-img
                                img(src="s/img/img--catalog-4.jpg" alt /)

                            a(href="").recipe-item-slider__el-name улыбка

                            p Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье.

                            span.recipe-item-slider__el-price.roubl 4500

                .another-recipe
                    h4 Вас могут заинтересовать другие блюда

                    ul.another-recipe-list
                        .another-recipe-list__el
                            a(href="").another-recipe-list__el-img
                                img(src="s/img/img--recipe-1.png")

                            a(href="").another-recipe-list__el-name Вино и морепродукты

                        .another-recipe-list__el
                            a(href="").another-recipe-list__el-img
                                img(src="s/img/img--recipe-2.png")

                            a(href="").another-recipe-list__el-name Вино и рыба

                        .another-recipe-list__el
                            a(href="").another-recipe-list__el-img
                                img(src="s/img/img--recipe-3.png")

                            a(href="").another-recipe-list__el-name Вино и картошка

                .recipe-item-comment
                    h4 оставьте ваш отзыв

                    .tabs
                        ul.tabs__caption
                            li.recipe-slider-comment-fb.active
                            li.recipe-slider-comment-vk.fwa-icon.icon-vk

                        div(data-href="https://www.facebook.com/bevz.jr" data-width="920" data-numposts="5").tabs__content.active.fb-comments
                        div(id="vk_comments").tabs__content.vk-vomments

    div(id="fb-root")
    script(type="text/javascript" src="http://vk.com/js/api/openapi.js?121")
    script(type="text/javascript" ) $(function(){$.pixlayout({src: "s/img/temp/item-food.jpg",opacity: 0.5,top: 8,left: 0,center: false,clip: true,show: false});});




