block vars
    - var title='Title'

extends partials/layout

block content

    .page.basket
        section.page-title
            .width-wrap
                div
                    h1 Мои заказы

                    p Первый интернет-портал, который подберёт вино под ваш вкус. Просто выбери свой вкус из&nbsp;трёх вариантов представленных ниже.

        section.page-content
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="").fwa-icon.icon-home

                    li
                        a(href="") catalogue

                    li
                        span cart

                span.location Все цены и предложения актуальны для
                    a(href="") Москвы

                .basket-empty.hidden-block
                    p Ваша корзина пуста. Перейдите в
                        a(href="") каталог
                        = "для совершения покупок"

                .basket-full
                    ul.basket-list
                        li(data-id="wine_01").basket-list__el
                            .basket-list__el-img
                                img(src="s/img/img--catalog-1.jpg" alt /)

                            .basket-list__el-content
                                .name
                                    a(href="")    Гаргантюа и пантагрюэль

                                .basket-list__el-about
                                    p Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье.

                                .basket-list__el-amount
                                    span 1

                                .basket-list__el-total
                                    span.roubl 4 500

                                div(data-url="s/js/ajax/item-remove.php" data-method="post").basket-list__el-remove
                                    a(href="").js--remove-position

                        li(data-id="wine_02").basket-list__el
                            .basket-list__el-img
                                img(src="s/img/img--catalog-4.jpg" alt /)

                            .basket-list__el-content
                                .name
                                    a(href="")    ВИННЫй Николай

                                .basket-list__el-about
                                    p Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье.

                                .basket-list__el-amount
                                    span 3

                                .basket-list__el-total
                                    span.roubl 16 500

                                div(data-url="s/js/ajax/item-remove.php" data-method="post").basket-list__el-remove
                                    a(href="").js--remove-position

                    .basket-total
                        span Итого
                            i.roubl 16 500

                        .btn-wrap
                            a(href="").btn Изменить заказ

                        a(href="").continue Продолжить покупки

        section.registration
            .width-wrap
                .justifyed
                    .left-form
                        h3 Вход в систему
                        p Введите ваши учетные данные, если вы уже зарегестрированы

                        form(action="" method="post").main-form
                            input(type="text" name="mail" placeholder="Адрес электронной почты").inp.inp-mail.required
                            input(type="password" name="pass" placeholder="Пароль").inp.required

                            .btn-wrap
                                a(href="").btn.js-form-submit Войти

                        a(href="").forgott-pass Забыли пароль?

                    .right-form
                        h3 Зарегистрируйтесь
                        p Зарегистрируйтесь на&nbsp;сайте, чтобы своевременно получать информацию о&nbsp;последних акциях компании, скидках на&nbsp;новую продукцию, а&nbsp;также будьте в&nbsp;курсе новых акций.

                        form(action="" method="post").main-form
                            input(type="text" name="name" placeholder="Ваше имя").inp.required
                            input(type="text" name="surname" placeholder="Ваша фамилия").inp.required
                            input(type="text" name="mail" placeholder="Адрес электронной почты").inp.inp-mail.required
                            input(type="password" name="pass" placeholder="Пароль (минимум 6 символов)").inp.required

                            .btn-wrap
                                a(href="").btn.js-form-submit Зарегистрироваться

                        .form-social
                            span Войти через

                            a(href="")
                                img(src="s/img/icon--fb.jpg" alt /)

                            a(href="")
                                img(src="s/img/icon--vk.jpg" alt /)

            script(type="text/javascript" ) $(function(){$.pixlayout({src: "s/img/temp/bastet-reg.jpg",opacity: 0.5,top: 26,left: 0,center: false,clip: true,show: false});});