block vars
    - var title='Title'

extends partials/layout

block content

    .page.index
        section.page-title.index-title
            .width-wrap
                .index--promo__content
                    h1 DEGUSTAGE.COM

                    p Первый интернет-портал, который подберёт вино под ваш вкус. Просто выбери свой вкус из&nbsp;трёх вариантов представленных ниже.

                    .btn-wrap
                        a(href="").btn Смотреть видео

        section.index--taste
            .width-wrap
                h3 Выберете один из трех вкусов. Тот, который вам ближе...

                p Итак, что должно определять ваш выбор? По&nbsp;каким признакам вы&nbsp;можете отличить вино, подходящее для летнего ланча в&nbsp;саду, от&nbsp;вина, которое лучше подходит для зимнего вечера перед камином?

                .taste-slider
                    .taste-slider__el
                        div(style="background: url('s/img/img--slider-index-1.jpg') no-repeat 50% 50%").taste-slider__el--img
                            span я люблю

                        .justifyed
                            .one-half
                                p ...лёгкие, чуть сладковатые белые и&nbsp;розовые вина, ароматные полусухие белые. Насыщенные чуть-чуть сладковатые красные, мягкие, с&nbsp;фруктовыми и&nbsp;ягодными ароматами. Не&nbsp;кислые. Не&nbsp;горькие. Не&nbsp;резкие.

                            .one-half
                                ul.tags-list
                                    li
                                        a(href="") Gewurztraminer

                                    li
                                        a(href="").md Shiraz

                                    li
                                        a(href="") Torrontes

                                    li
                                        a(href="") Australia

                                    li
                                        a(href="") Alto-Adige

                                    li
                                        a(href="").l Muscat semi dry

                                    li
                                        a(href="") Zinfandel

                                    li
                                        a(href="") Prosecco

                                    li
                                        a(href="").xl Valpolicella Ripasso

                                    li
                                        a(href="") Saperavi

                                    li
                                        a(href="").md Kindzmarauli

                                    li
                                        a(href="") Georgia Wine


                        .btn-wrap
                            a(href="").btn Выбрать вкус


                    .taste-slider__el
                        div(style="background: url('s/img/img--slider-index-2.jpg') no-repeat 50% 50%").taste-slider__el--img
                            span мне нравятся

                        .justifyed
                            .one-half
                                p ....яркие, насыщенные, мощные, смачные красные вина. Они хотят понравиться вам. Это новосветские и&nbsp;испанские красные, итальянская супертоскана и&nbsp;сицилия, французское бордо. Экспрессия  и&nbsp;уникальность. И&nbsp;лёгкие свежие не&nbsp;сильно кислотные белые вина. Когда хочется расслабиться и&nbsp;освежиться. Невысокая кислотность, лёгкий аромат, низкий алкоголь.

                            .one-half
                                ul.tags-list
                                    li
                                        a(href="") Gewurztraminer

                                    li
                                        a(href="").md Shiraz

                                    li
                                        a(href="") Torrontes

                                    li
                                        a(href="") Australia

                                    li
                                        a(href="") Alto-Adige

                                    li
                                        a(href="").l Muscat semi dry

                                    li
                                        a(href="") Zinfandel

                                    li
                                        a(href="") Prosecco

                                    li
                                        a(href="").xl Valpolicella Ripasso

                                    li
                                        a(href="") Saperavi

                                    li
                                        a(href="").md Kindzmarauli

                                    li
                                        a(href="") Georgia Wine


                        .btn-wrap
                            a(href="").btn Выбрать вкус

                    .taste-slider__el
                        div(style="background: url('s/img/img--slider-index-3.jpg') no-repeat 50% 50%").taste-slider__el--img
                            span я предпочитаю

                        .justifyed
                            .one-half
                                p ....элегантные и&nbsp;тонкие вина. Тонкая и&nbsp;нежная ароматика, деликатный вкус и&nbsp;сложность красных вин. Хорошая кислотность. Насыщенность и&nbsp;сложность белых вин. Нотки дуба, меда, специй. Вино с&nbsp;которым нужно посидеть, уделить ему внимание, помедитировать с&nbsp;ним.

                            .one-half
                                ul.tags-list
                                    li
                                        a(href="") Gewurztraminer

                                    li
                                        a(href="").md Shiraz

                                    li
                                        a(href="") Torrontes

                                    li
                                        a(href="") Australia

                                    li
                                        a(href="") Alto-Adige

                                    li
                                        a(href="").l Muscat semi dry

                                    li
                                        a(href="") Zinfandel

                                    li
                                        a(href="") Prosecco

                                    li
                                        a(href="").xl Valpolicella Ripasso

                                    li
                                        a(href="") Saperavi

                                    li
                                        a(href="").md Kindzmarauli

                                    li
                                        a(href="") Georgia Wine


                        .btn-wrap
                            a(href="").btn Выбрать вкус

        section.index--banners
            .width-wrap
                ul.banners-list
                    li
                        a(href="" style="background: url('s/img/img--banner-index-1.jpg') no-repeat 50% 50%") подарки

                    li
                        a(href="" style="background: url('s/img/img--banner-index-2.jpg') no-repeat 50% 50%") Дегустации

                    li
                        a(href="" style="background: url('s/img/img--banner-index-3.jpg') no-repeat 50% 50%") лекции

                    li
                        a(href="" style="background: url('s/img/img--banner-index-4.jpg') no-repeat 50% 50%") вино и еда



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "s/img/temp/main.jpg",opacity: 0.5,top: 0,left: 538,center: false,clip: true,show: false});});




