block vars
    - var title='Title'

extends partials/layout-lk

block content

    .page.catalogue
        section.page-title
            .width-wrap
                div
                    h1 Вино и Мясо

                    p Первый интернет-портал, который подберёт вино под ваш вкус. Просто выбери свой вкус из&nbsp;трёх вариантов представленных ниже.

        section.page-content
            .width-wrap
                a(href="").float-left.breadcrumbs-link Все наборы
                ul.breadcrumbs
                    li
                        a(href="").fwa-icon.icon-home

                    li
                        a(href="") food

                    li
                        span vine_and_meat

                h4 Вы искали SHIRAZ

                h4 SHIRAZ встречается в следующих наборах:

                ul.catalogue-list
                    li
                        a(href="").img
                            img(src="s/img/img--catalog-1.jpg" alt /)

                        a(href="").title
                            h3 Винный Николай ГОРДОН КРЮ

                        p Отличный набор для тех, кто любит танцевать, петь в&nbsp;компании друзей, шутить за&nbsp;столом и&nbsp;разбивать бокалы на&nbsp;счастье. Идеально для большой шумной компании.

                        span.price.roubl 4500

                    li
                        a(href="").img
                            img(src="s/img/img--catalog-2.jpg" alt /)

                        a(href="").title
                            h3 Дегустационный погреб

                        p Отличный набор для тех, кто любит танцевать, петь в&nbsp;компании друзей, шутить за&nbsp;столом и&nbsp;разбивать бокалы на&nbsp;счастье. Идеально для большой шумной компании. А&nbsp;также для тех, кто любит танцевать танго в&nbsp;костюмах и&nbsp;вечерних платьях, предаваясь чуесному пороку на&nbsp;фоне заходящего солнца.

                        span.price.roubl 4500

                    li
                        a(href="").img
                            img(src="s/img/img--catalog-3.jpg" alt /)

                        a(href="").title
                            h3 Райский набор богемы

                        p Отличный набор для тех, кто любит танцевать, петь в&nbsp;компании друзей, шутить за&nbsp;столом и&nbsp;разбивать бокалы на&nbsp;счастье. Идеально для большой шумной компании.

                        span.price.roubl 4500

                    li
                        a(href="").img
                            img(src="s/img/img--catalog-4.jpg" alt /)

                        a(href="").title
                            h3 Ангельские крылья и лук

                        p Отличный набор для тех, кто любит танцевать, петь в&nbsp;компании друзей, шутить за&nbsp;столом и&nbsp;разбивать бокалы на&nbsp;счастье.

                        span.price.roubl 4500

                    li
                        a(href="").img
                            img(src="s/img/img--catalog-5.jpg" alt /)

                        a(href="").title
                            h3 Ангельские крылья и лук

                        p Отличный набор для тех, кто любит танцевать, петь в&nbsp;компании друзей, шутить за&nbsp;столом и&nbsp;разбивать бокалы на&nbsp;счастье.

                        span.price.roubl 4500

        section.search-result--recipe
            .width-wrap
                a(href="").float-left.breadcrumbs-link Вино и еда

                h4 SHIRAZ встречается в следующих рецептах:

                ul.recipe-cat-list
                    li
                        a(href="").img
                            img(src="s/img/img--recipe-4.png" alt /)
                        a(href="").title
                            h3 Стейк комиссаров
                            p Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье. Идеально для большой шумной компании.
                        .recipe-cat-list__icons
                            .recipe-cat-list__icons-el
                                i.fa.fa-eye
                                span 326
                            .recipe-cat-list__icons-el
                                i.fa.fa-comment
                                span 34 325

                    li
                        a(href="").img
                            img(src="s/img/img--recipe-5.png" alt /)
                        a(href="").title
                            h3 Ягненок николай
                            p Отличный набор для тех, кто любит танцевать, петь в компании друзей, шутить за столом и разбивать бокалы на счастье. Идеально для большой шумной компании. А также для тех, кто любит танцевать танго в костюмах и вечерних платьях, предаваясь чуесному пороку на фоне заходящего солнца.
                        .recipe-cat-list__icons
                            .recipe-cat-list__icons-el
                                i.fa.fa-eye
                                span 326
                            .recipe-cat-list__icons-el
                                i.fa.fa-comment
                                span 34 325

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "s/img/temp/catalog.jpg",opacity: 0.5,top: 4,left: 0,center: false,clip: true,show: false});});




