block vars
    - var title='Title'

extends partials/layout-lk

block content

    .page.howwework
        section.page-title
            .width-wrap
                .index--promo__content
                    h1 СПРОСИТЬ ПРО ВИДЕО И ИКОНКИ

        section.page-content
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="").fwa-icon.icon-home

                    li
                        a(href="") catalogue

                    li
                        span howwework

                ul.howwework-list
                    li.howwework-list__el
                        img(src="s/img/img--howwork-1.png" alt /)

                        .content
                            h3 Все что вам нужно знать о доставке

                            p Генерал-майор артиллерии; глава секретного отделения по&nbsp;наблюдению за&nbsp;иностранными посольствами и&nbsp;военными агентами (1904&ndash;1909); начальник Енисейского, Пермского, Саратовского, Вятского ГЖУ (1909&ndash;1915); будучи помощником начальника петербургского охранного отделения заведовал охраной Григория Распутина (1915&ndash;1916); градоначальник в&nbsp;Ростове-на-Дону (1916).

                    li.howwework-list__el
                        .content
                            h3 Информация об оплате

                            p Генерал-майор артиллерии; глава секретного отделения по&nbsp;наблюдению за&nbsp;иностранными посольствами и&nbsp;военными агентами (1904&ndash;1909); начальник Енисейского, Пермского, Саратовского, Вятского ГЖУ (1909&ndash;1915); будучи помощником начальника петербургского охранного отделения заведовал охраной Григория Распутина (1915&ndash;1916); градоначальник в&nbsp;Ростове-на-Дону (1916).

                        img(src="s/img/img--howwork-2.png" alt /)

                .howwework-faq
                    h2 Как мы работаем

                    .mini-menu
                        ul
                            li.sub
                                a(href="") Вы работаете в выходные
                                .content
                                    p Мы работаем только в субботу, до 17:00. Так что если сделаете заказ вечером в субботу или в воскресенье, получить его через пару часов вряд ли получится – только на следующей неделе.
                                    p С понедельника по пятницу мы работаем с 10:00 до 19:00. В эти дни наши курьеры развозят заказы по Москве с 10 утра и до 21 вечера.

                            li.sub
                                a(href="") Сколько стоит доставка?
                                .content
                                    p Мы работаем только в субботу, до 17:00. Так что если сделаете заказ вечером в субботу или в воскресенье, получить его через пару часов вряд ли получится – только на следующей неделе.

                            li.sub
                                a(href="") Когда вы свяжетесь со мной по поводу доставки?
                                .content
                                    p Мы работаем только в субботу, до 17:00. Так что если сделаете заказ вечером в субботу или в воскресенье, получить его через пару часов вряд ли получится – только на следующей неделе.

                            li.sub
                                a(href="") Можете ли вы привезти заказ за пределы МКАД?
                                .content
                                    p Мы работаем только в субботу, до 17:00. Так что если сделаете заказ вечером в субботу или в воскресенье, получить его через пару часов вряд ли получится – только на следующей неделе.

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "s/img/temp/howwork.jpg",opacity: 0.5,top: 8,left: 0,center: false,clip: true,show: false});});




