block vars
    - var title='Title'

extends partials/layout-lk

block content

    .page.about
        section.page-title
            .width-wrap
                .index--promo__content
                    h1 Как нас найти

                    p Первый интернет-портал, который подберёт вино под ваш вкус. Просто выбери свой вкус из&nbsp;трёх вариантов представленных ниже.

        section.page-content
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="").fwa-icon.icon-home

                    li
                        span about

                h4 о нас

                p Компания Electronic Arts была основана в&nbsp;1982 году смелыми мечтателями Трипом Хокинсом (Trip Hawkins)  и&nbsp;его друзьями. Трип считал игры новой формой искусства, а&nbsp;их&nbsp;создателей&nbsp;&mdash; художниками, поэтому основным принципом компании стала вера в&nbsp;то, что интерактивные средства передачи информации интереснее пассивных, и&nbsp;однажды &laquo;программное обеспечение, достойное умов, которые его используют&raquo; станет важнее традиционных средств, таких как кино и&nbsp;телевидение. &laquo;Мы&nbsp;видим дальше&raquo;, мы&nbsp;провозгласили, что однажды закон Мура&nbsp;&mdash; движущая сила Силиконовой долины,&nbsp;&mdash; позволит &laquo;заключить реальную жизнь в&nbsp;коробку&raquo;. Мы&nbsp;спросили: &laquo;Может&nbsp;ли компьютер заставить вас плакать?&raquo;&nbsp;&mdash; и&nbsp;пригласили тех, кто в&nbsp;это верит, &laquo;присоединиться к&nbsp;нам&raquo;. Прошло тридцать лет, и&nbsp;многие мечты стали явью. Сегодня видеоигры являются одной из&nbsp;самых влиятельных форм развлечений, а&nbsp;доход от&nbsp;их&nbsp;продажи превышает доход от&nbsp;музыки и&nbsp;кино. Сегодня видеоигры являются одной из&nbsp;самых влиятельных форм развлечений, а&nbsp;доход от&nbsp;их&nbsp;продажи превышает доход от&nbsp;музыки и&nbsp;кино.

                .manager-list
                    .manager-list__el
                        img(src="s/img/img--manager-1.png" alt /)
                        .content
                            span.manager-list__el-name Николай
                                strong НАФТУЛИН

                            span.manager-list__el-position Сооснователь

                            p Вечер четвертого дня. Григорий Чегодаев привез испанца с&nbsp;винами Руэды, Риохи и&nbsp;Риберы дель Дуэро. Встретили, приняли, провели ужин! Вина вполне рабочие,  но&nbsp;без вау-эффекта (на&nbsp;мой субъективный взгляд)

                    .manager-list__el
                        .content
                            span.manager-list__el-name Сергей
                                strong ПОДПОРИН

                            span.manager-list__el-position Сооснователь

                            p Вечер четвертого дня. Григорий Чегодаев привез испанца с&nbsp;винами Руэды, Риохи и&nbsp;Риберы дель Дуэро. Встретили, приняли, провели ужин! Вина вполне рабочие,  но&nbsp;без вау-эффекта (на&nbsp;мой субъективный взгляд)

                        img(src="s/img/img--manager-2.png" alt /)

                    .manager-list__el
                        img(src="s/img/img--manager-3.png" alt /)
                        .content
                            span.manager-list__el-name Дротфорд
                                strong ТРУТЕНКОФФ

                            span.manager-list__el-position Сомелье высшей категории


                            p Вечер четвертого дня. Григорий Чегодаев привез испанца с&nbsp;винами Руэды, Риохи и&nbsp;Риберы дель Дуэро. Встретили, приняли, провели ужин! Вина вполне рабочие,  но&nbsp;без вау-эффекта (на&nbsp;мой субъективный взгляд)

                .about--adress
                    h4 Как нас найти

                    div(id="map").map

                    .justifyed
                        div
                            span
                                strong Адрес:

                            span Москва, ул. Садовая д. 3

                        div
                            span
                                strong Электронная почта:

                            a(href="mailto:info@websait.com") info@websait.com

                        div
                            span
                                strong Телефон

                            a(href="tel:89875464") +7.968.958.98.98

                        div
                            a(href="").btn Заказать звонок



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "s/img/temp/about.jpg",opacity: 0.5,top: 8,left: 0,center: false,clip: true,show: false});});




