block vars

footer.footer
    .width-wrap
        ul.footer--social
            li
                a(href='')
                    img(src="s/img/icon--fb.jpg" alt /)

            li
                a(href='')
                    img(src="s/img/icon--in.jpg" alt /)

            li
                a(href='')
                    img(src="s/img/icon--vk.jpg" alt /)

        .justifyed
            .footer--phone
                a(href="tel:8489489486") +7.495.676.76.76

            .footer--copyright
                span © 2015 Dегустаж. All Rights Reserved