doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}

        link(rel='stylesheet', href="s/css/style.css")
        script(src="s/js/app-common.js")
        script(src="s/js/app.js")

    body

        block content
