doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}
        link(rel='icon' href='s/img/favicon.ico' type='image/x-icon')

        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel='stylesheet', href="s/css/style.css")

        script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }

        script(type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
        script(src="s/js/app-common.js")
        script(src="s/js/app.js")
        script(src="s/js/jquery.pixlayout.0.9.7.js")

    body.cbp-spmenu-push

        include menu-left
        include menu-right

        .container
            div.wrapper-close
                a(href="").wrapper-close-icon.icon-right
                    i

                a(href="").wrapper-close-icon.icon-left
                    i

            include header-lk
            block content
            .psevdofooter
            include  footer