nav(id='cbp-spmenu-s1').cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left

    ul.nav-block.nav-menu
        li
            a(href="") ВЫБОР ВКУСА | КАТАЛОГ
        li
            a(href="") Вино и еда
        li
            a(href="") акция недели

    .nav-block
        ul.restaurant-menu
            li
                span Вино и мясо

            li
                a(href="") жареный кролик

            li
                a(href="") печеная утка

            li
                a(href="") лечебный отвар из поросенка

            li
                a(href="") говяжий гном

            li
                a(href="") кабачковый стейк

        ul.restaurant-menu
            li
                span вино и рыба

            li
                a(href="") жареный кролик

            li
                a(href="") печеная утка

            li
                a(href="") лечебный отвар из поросенка

            li
                a(href="") говяжий гном

            li
                a(href="") кабачковый стейк

            li
                a(href="") жареный кролик

            li
                a(href="") печеная утка

            li
                a(href="") лечебный отвар из поросенка

            li
                a(href="") говяжий гном

            li
                a(href="") кабачковый стейк

        ul.restaurant-menu
            li
                span вино и морепродукты

            li
                a(href="") жареный кролик

            li
                a(href="") печеная утка

            li
                a(href="") лечебный отвар            из поросенка

            li
                a(href="") говяжий гном

            li
                a(href="") кабачковый стейк

    .nav-block.nav--icons
        a(href="")
            img(src="s/img/icon--lk-d.jpg" alt /)
            = "Личный кабинет"
        a(href="")
            img(src="s/img/icon--basket-d.jpg" alt /)
            = "Корзина"
        form(action="" method="post").main-form
            input(type="text" name="search").inp.required
            a(href="").js-form-submit.inp-submit
    .nav-footer
        a(href="mailto:info@degustage.com") info@degustage.com
        a(href="tel:8489489486").phone +7.495.676.76.76
    ul.nav--social
        li
            a(href='')
                img(src="s/img/icon--fb-d.jpg" alt /)
        li
            a(href='')
                img(src="s/img/icon--in-d.jpg" alt /)
        li
            a(href='')
                img(src="s/img/icon--vk-d.jpg" alt /)