@import 'unvers/mixins';
@import 'unvers/fonts';
@import 'unvers/reset';
@import 'unvers/text';

// UI
@import 'ui/input';
@import 'ui/btn';
@import 'ui/tags';
@import 'ui/fancy';
@import 'ui/icons';
@import 'ui/formstyler';
@import 'ui/datepicker';
@import 'ui/vendor/owlcarousel';
@import 'ui/vendor/sociallikes';

// blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/breadcrumbs';

//pages
@import 'pages/pageIndex';
@import 'pages/pagePopup';
@import 'pages/page404';
@import 'pages/pageRecipe';
@import 'pages/pageAbout';
@import 'pages/pageHowwework';
@import 'pages/pageItem';
@import 'pages/pageCatalog';
@import 'pages/pageLk';
@import 'pages/pageRegistration';
@import 'pages/pageBasket';
@import 'pages/pageSet';
@import 'pages/pageStock';