@font-face {
  font-family: 'als_rublregular';
  src: url('../fnt/rouble-webfont.eot');
  src: url('../fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fnt/rouble-webfont.woff2') format('woff2'),
       url('../fnt/rouble-webfont.woff') format('woff'),
       url('../fnt/rouble-webfont.ttf') format('truetype'),
       url('../fnt/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("../fnt/GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("../fnt/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fnt/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("../fnt/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fnt/GothamPro/GothamProBold/GothamProBold.eot");
    src: url("../fnt/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fnt/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fnt/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fnt/GothamPro/GothamProLight/GothamProLight.eot");
    src: url("../fnt/GothamPro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fnt/GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fnt/GothamPro/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

// font vars

$fGothamPro = GothamProRegular, sans-serif
$fGothamPro_b = GothamProBold, sans-serif
$fGothamPro_l = GothamProLight, sans-serif

$fIcons = FontAwesome, sans-serif