a, p, span, li, input, time, blockquote, textarea
  font-family $fGothamPro_l
  font-size 16px
  line-height 26px
  text-decoration none
  color $cBlack

a
  cursor pointer
  color $cBlack
  outline none

h1
  font-family $fGothamPro_b
  color $cBlack
  font-size 70px
  line-height 96px
  text-align center
  display block
  text-transform uppercase

h2
  font-family $fGothamPro
  color $cBlack
  font-size 24px
  line-height 28px
  text-align center
  display block
  text-transform uppercase

h3
  font-family $fGothamPro
  color $cBlack
  font-size 20px
  line-height 24px
  text-align center
  display block
  text-transform uppercase

h4
  font-family $fGothamPro_b
  color $cBlack
  font-size 16px
  line-height 24px
  text-align center
  display block
