.psevdofooter
  height 170px

.footer
  height 169px
  border-top 1px solid $cBlack
  position absolute
  left 0
  right 0
  bottom 0

  &--social
    display block
    text-align center
    padding-top 27px
    padding-bottom 10px

    li
      display inline-block
      vertical-align top
      margin 0 7px

  &--phone,
  &--copyright
    display inline-block
    vertical-align top

    a,
    span
      font-size 14px
      font-family $fGothamPro_l
