.registration
  display block

  .justifyed
    margin-top 2px

    h3
      display block
      text-align center
      padding-bottom 16px
      color $cBlack
      font-size 16px

    p
      display block
      text-align center
      font-size 12px
      line-height 14px
      color $cBlack
      min-height 42px
      margin-bottom 26px

    .inp
      display block
      border 1px solid $cBlack
      text-align center
      height 29px
      margin-bottom 7px
      width 440px
      font-size 12px

    .inp.error
      border 1px solid #ff0000

    .btn-wrap
      margin-top 17px
      margin-bottom 15px

      .btn
        padding 13px 27px 11px

    .form-social
      text-align center

      span,
      a
        display inline-block
        vertical-align top
        margin 0 3px

      span
        font-size 12px
        line-height 24px

      a
        img
          width 24px
          height 24px

    .right-form
      display inline-block
      vertical-align top
      width 440px
      text-align center

    .left-form
      display inline-block
      vertical-align top
      width 440px
      padding-right 20px
      border-right 1px solid #d3d3d3
      text-align center

      .forgott-pass,
      h3,
      p,
      .btn,
      .inp,
      .inp::placeholder
        color #d3d3d3

      .forgott-pass
        text-decoration underline
        font-size 12px

      .inp
          border 1px solid #d3d3d3

      .btn-wrap
        .btn
          padding 13px 82px 11px
          border 1px solid #d3d3d3

  .no-reg
    display block
    text-align center
    padding-top 40px

    a
      font-size 16px
      text-decoration underline

