.tags-list
  display block

  li
    display inline-block
    vertical-align top
    margin 0 7px

    a
      display block
      line-height 30px
      color #999999
      font-size 12px

    a.md
      font-size 16px

    a.l
      font-size 18px

    a.xl
      font-size 22px