.about
  display block

  h4
    padding-bottom 27px
    text-transform uppercase

  p
    display block
    text-align left
    padding 0 0 55px
    line-height 20px

  .manager-list
    display block
    padding-bottom 50px

    &__el
      display block
      margin-bottom 2px

      img
        display inline-block
        vertical-align top
        margin 0 64px

      .content
        display inline-block
        vertical-align top
        width 510px
        padding-top 66px

        span
          display block

        .manager-list__el-name
          font-size 16px
          line-height 10px
          font-family $fGothamPro

          strong
            text-transform uppercase
            font-family $fGothamPro
            font-weight normal

        .manager-list__el-position
          font-size 12px
          font-style italic
          padding-bottom 7px

        p
          font-size 12px
          line-height 14px
          color #666666
          padding-bottom 0


    &__el:nth-child(odd)
      img
        margin-right 80px

  .about--adress
    border-top 1px solid #cccccc
    padding-top 33px

    h4
      padding-bottom 33px

    .map
      display block
      height 500px
      margin-bottom 49px

    .justifyed
      div
        display inline-block
        vertical-align top

        a,
        span
          display block
          font-size 16px
          padding-bottom 1px
          margin 0

          strong
            font-weight bold

        a.btn
          padding 11px 30px 12px
          margin-top 3px
          font-size 20px
          text-align center
          letter-spacing -1px
