.fwa-icon
  font-family $fIcons !important
  font-style normal

.icon-basket:after
  content "\f291"

.icon-home:after
  content "\f015"

.icon-search:after
  content "\f002"

.icon-facebook:after
  content "\f09a"

.icon-instagram:after
  content "\f16d"

.icon-vk:after
  content "\f189"

.icon-share:after
  content "\f1e0"

.icon-camera:after
  content "\f030"

.icon-star:after
  content "\f005"

.icon-star-empty:after
  content "\f006"

.icon-male:after
  content "\f183"

.icon-mail:after
  content "\f0e0"

.icon-phone:after
  content "\f095"